/tmp
/test-result
/eclipse
/secure
/crud
/messages-1.0
*~
/modules
.classpath
.project
.settings
cobertura.ser
/bin
.emacs.desktop*
/public/javascripts/jquery-ui-1.8.13.custom-smoothness.zip
/public/javascripts/quirkey-sammy-v0.6.3-0-g74f3cd9.zip
