
#{set 'moreStyles'}
    <style type="text/css">
	    #{include 'Invoices/_itemsTable.css' /}
	</style>
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/sammy-0.6.3.min.js'}"></script>
	<script>
    	#{include 'Invoices/soldItem.js' /}
	</script>
#{/set}

<form action="#/saveItem" method="post" id="itemsTable">
<table class="items Invoice" id="invoiceItemsTable">
    <thead>
        <tr>
            <th><!-- actions --></th>
            <th>&{'invoice.item.description'}</th>
            <th>&{'invoice.item.price'}</th>
            <th>&{'invoice.item.rebate'}</th>
            <th>&{'invoice.item.quantity'}</th>
            <th>&{'invoice.item.netTotal'}</th>
            <th>&{'invoice.item.vatRate'}</th>
            <th>&{'invoice.item.grandTotal'}</th>
            <th>&{'invoice.item.notes'}</th>
        </tr>
    </thead>

    #{list items:entity?.items, as:'item'}
        #{include 'Invoices/_itemRow.html' /}
    #{/list}

    #{list items:newItems, as:'item'}
        #{include 'Invoices/_itemRow.html' /}
    #{/list}

    <tr class="itemNew">
        <td>
            <input type="image" id="saveItem" name="&{'Save'}" title="&{'Save'}" height="16" src="/public/images/34aL/shadow/standart/png/24x24/001_06.png"/>
            <a href="#/cancelEdits"><image id="cancelEdits" src="/public/images/34aL/shadow/standart/png/24x24/001_05.png" alt="&{'Cancel'}" title="&{'Cancel'}" height="16"></a>
        </td>
        
        <td>
            <div class="item">
                <input class="itemDesc" type="text" size="30" name="item.item.name" placeholder="&{'invoice.item.name'}" />
            </div>
            <div class="item">
                <textarea class="itemDesc" rows="2" cols="30" name="item.item.description" placeholder="&{'invoice.item.description'}" ></textarea>
            </div>
        </td>
        
        <td>
            <div class="item">
                <input type="text" size="10" name="item.item.price" placeholder="&{'invoice.item.price'}" />
            </div>
        </td>
        
        <td>
            <div class="item">
                <input type="text" size="4" name="item.rebate" placeholder="&{'invoice.item.rebate'}" />
            </div>
        </td>
        
        <td>
            <div class="item">
                <input type="text" size="7" name="item.quantity" placeholder="&{'invoice.item.quantity'}" />
            </div>
        </td>
        
        <td>
            <div class="item" id="newItemNet">
            </div>
        </td>
        
        <td>
            <div class="item">
                <input type="text" size="4" name="item.vatRate" placeholder="&{'invoice.item.vatRate'}" />
            </div>
        </td>
        
        <td>
            <div class="item" id="newItemGross">
            </div>
        </td>
        
        <td>
            <div class="item">
                <input type="text" name="item.notes" placeholder="&{'invoice.item.notes'}"/>
            </div>
        </td>
    </tr>
</table>
</form>