
#{set 'moreStyles'}
    <style type="text/css">
            #{include 'Invoices/_itemsTable.css' /}
        </style>
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/sammy.js'}"></script>
    <script src="@{'/public/javascripts/jquery.tmpl.js'}"></script>
    <script src="@{'/public/javascripts/knockout-1.2.1.debug.js'}"></script>
        <script>
        #{include 'Invoices/soldItem.js' /}
        </script>
#{/set}

<form action="#/saveItem" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" id="itemsTable">
<input type="hidden" name="authenticityToken" value="d04be371857547c9d6bfecc9db58eed931cc9c10">

*{ The blessed form definition below complains something about problem with casting String to Router.ActionDefinition }*
*{#{form '#/saveItem', id:'itemsTable'}*

<table class="items Invoice" >
    <thead>
        <tr>
            <th><!-- actions --></th>
            <th>&{'invoice.item.description'}</th>
            <th>&{'invoice.item.price'}</th>
            <th>&{'invoice.item.rebate'}</th>
            <th>&{'invoice.item.quantity'}</th>
            <th>&{'invoice.item.netTotal'}</th>
            <th>&{'invoice.item.vatRate'}</th>
            <th>&{'invoice.item.grandTotal'}</th>
            <th>&{'invoice.item.notes'}</th>
        </tr>
    </thead>

    #{list items:entity?.items, as:'item'}
        #{include 'Invoices/_itemRow.html' /}
    #{/list}

    #{list items:newItems, as:'item'}
        #{include 'Invoices/_itemRow.html' /}
    #{/list}

    <tr class="itemNew">
        <td>
            <input type="image" id="saveItem" name="&{'Save'}" alt="&{'Save'}" height="16" src="/public/images/34aL/shadow/standart/png/24x24/001_06.png" form="itemsTable"/>
            <a href="#/cancelEdits"><image id="cancelEdits" src="/public/images/34aL/shadow/standart/png/24x24/001_05.png" alt="&{'Cancel'}" title="&{'Cancel'}" height="16"></a>
        </td>

        <td>
            <div class="item">
                <input class="itemDesc" id="itemName" type="text" size="30" name="item.item.name" placeholder="&{'invoice.item.name'}" />
            </div>
            <div class="item">
                <textarea class="itemDesc" rows="2" cols="30" name="item.item.description" placeholder="&{'invoice.item.description'}" ></textarea>
            </div>
        </td>

        <td>
            <div class="item">
                <input type="text" size="10" name="item.retailPrice" placeholder="&{'invoice.item.price'}" class="autocompleteFix" data-bind="value: itemPrice, valueUpdate: ['keyup', 'afterinit']"/>
            </div>
        </td>

        <td>
            <div class="item">
                <input type="text" size="4" name="item.rebate" placeholder="&{'invoice.item.rebate'}" class="autocompleteFix" data-bind="value: itemDiscount, valueUpdate: ['keyup', 'afterinit']"/>
            </div>
        </td>

        <td>
            <div class="item">
                <input type="text" size="7" name="item.quantity" placeholder="&{'invoice.item.quantity'}" class="autocompleteFix" data-bind="value: itemQty, valueUpdate: ['keyup', 'afterinit']"/>
            </div>
        </td>

        <td>
            <div class="item" id="newItemNett" data-bind="text: itemNettVal">
            </div>
        </td>

        <td>
                <input type="text" size="4" name="item.vatRate" placeholder="&{'invoice.item.vatRate'}" class="autocompleteFix" data-bind="value: itemVat, valueUpdate: ['keyup', 'afterinit']"/>
            <div class="item">
            </div>
        </td>

        <td>
            <div class="item" id="newItemGross" data-bind="text: itemTotVal">
            </div>
        </td>

        <td>
            <div class="item">
                <input type="text" name="item.notes" placeholder="&{'invoice.item.notes'}" data-bind="value: itemNotes, valueUpdate: ['keyup', 'afterinit']"/>
            </div>
        </td>
    </tr>
</table>
*{#{/form}*
</form>
