#{extends 'admin.html' /}

#{ifErrors}
        <p class="error">
            &{'admin.user.error.header'}
        </p>
#{/ifErrors}
 
#{form @create()}
 	<p>#{field 'user.isAdmin'}
		<label>&{'admin.user.isAdmin'}</label> 
		<input type="checkbox" name="${field.name}" 
			value="${user?.isAdmin}" class="${field.errorClass}"/>
		#{errspan 'user.isAdmin' /}
	#{/field}</p>
	<p>#{field 'user.login'}
		<label>&{'admin.user.login'}</label> 
		<input type="text" name="${field.name}"
		 	value="${user?.login}" class="${field.errorClass}"/>
		 #{errspan 'user.login' /}
	#{/field}</p>
	<p>#{field 'user.fullname'}
		<label>&{'admin.user.fullname'}</label>
		<input type="text" name="${field.name}"
		 	value="${user?.fullname}" class="${field.errorClass}"/>
		 #{errspan 'user.fullname' /}
	#{/field}</p>
	<p>#{field 'user.email'}
		<label>&{'admin.user.email'}</label>
		<input type="text" name="${field.name}"
		 	value="${user?.email}" class="${field.errorClass}"/>
		 #{errspan 'user.email' /}
	#{/field}</p>
	<p>#{field 'user.password'}
		<label>&{'admin.user.password'}</label>
		<input type="password" name="${field.name}"
		 	value="" class="${field.errorClass}"/>
		 #{errspan 'user.password' /}
	#{/field}</p>
	<p>#{field 'confirmation'}
		<label>&{'admin.user.confirm'}</label>
		<input type="password" name="${field.name}" class="${field.errorClass}"/>
		#{errspan 'confirmation' /}
	#{/field}</p>
	<p><input type="submit" value="&{'admin.user.save'}"></p>
#{/form}
