#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

	<div id="crudListSearch">
		#{crud.search /}
	</div>

	<div id="crudListTable">
		#{crud.table fields:['isAdmin', 'login', 'fullname', 'email', 'password', 'salt', 'createdAt', 'updatedAt']}
			#{crud.custom 'login'}
				<a href="@{Users.show(object.id)}">${object.login}</a>
			#{/crud.custom}			
		#{/crud.table}
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>
	
	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.modelName}</a>
	</p>

</div>
