#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">
	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

	<div id="crudListSearch">
		#{crud.search /}
	</div>

	<div id="crudListTable">
       %{head_names=['admin.users.thead.delete', 'isAdmin', 'login', 'fullname', 'email', 'createdAt', 'updatedAt']}%
	   #{crud.table fields:head_names}
			 #{crud.custom 'admin.users.thead.delete'}
				#{a @delete(object.id)}&{'delete'}#{/a}
			 #{/crud.custom}
			 #{crud.custom 'login'}
				#{a @show(object.id)}${object.login}#{/a}
			 #{/crud.custom}
		#{/crud.table}
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>
	
	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.modelName}</a>
	</p>

</div>
