#{extends 'main.html' /}

<h2>View User</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			isAdmin:
		</span>
		<span class="value">
      ${entity.isAdmin}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			login:
		</span>
		<span class="value">
      ${entity.login}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			fullname:
		</span>
		<span class="value">
      ${entity.fullname}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			email:
		</span>
		<span class="value">
      ${entity.email}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			password:
		</span>
		<span class="value">
      ${entity.password}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			salt:
		</span>
		<span class="value">
      ${entity.salt}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{Users.index}">Back</a>

