
 <div class="row">
  <div class="label">Name</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.name" value="${entity?.name}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.name')}</span>
</div>


 <div class="row">
  <div class="label">Address</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.address" value="${entity?.address}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.address')}</span>
</div>


 <div class="row">
  <div class="label">Nip</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.nip" value="${entity?.nip}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.nip')}</span>
</div>


 <div class="row">
  <div class="label">Phone</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.phone" value="${entity?.phone}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.phone')}</span>
</div>


 <div class="row">
  <div class="label">Email</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.email" value="${entity?.email}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.email')}</span>
</div>


 <div class="row">
  <div class="label">Web</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.web" value="${entity?.web}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.web')}</span>
</div>


 <div class="row">
  <div class="label">Notes</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.notes" value="${entity?.notes}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.notes')}</span>
</div>


 <div class="row">
  <div class="label">Created At</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.createdAt" value="${entity?.createdAt}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.createdAt')}</span>
</div>


 <div class="row">
  <div class="label">Updated At</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.updatedAt" value="${entity?.updatedAt}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.updatedAt')}</span>
</div>


 <div class="row">
  <div class="label"></div>
  <div class="field">
    
    
    
    
    
    
    
    
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>


