#{extends 'main.html' /}

<h2>View Customer</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			name:
		</span>
		<span class="value">
      ${entity.name}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			address:
		</span>
		<span class="value">
      ${entity.address}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			nip:
		</span>
		<span class="value">
      ${entity.nip}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			phone:
		</span>
		<span class="value">
      ${entity.phone}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			email:
		</span>
		<span class="value">
      ${entity.email}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			web:
		</span>
		<span class="value">
      ${entity.web}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			notes:
		</span>
		<span class="value">
      ${entity.notes}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			createdAt:
		</span>
		<span class="value">
      ${entity.createdAt}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			updatedAt:
		</span>
		<span class="value">
      ${entity.updatedAt}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{Customers.index}">Back</a>

