
 <div class="row">
  <div class="label">Code</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.code" value="${entity?.code}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.code')}</span>
</div>


 <div class="row">
  <div class="label">Name</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.name" value="${entity?.name}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.name')}</span>
</div>


 <div class="row">
  <div class="label">Description</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.description" value="${entity?.description}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.description')}</span>
</div>


 <div class="row">
  <div class="label">Price</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.price" value="${entity?.price}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.price')}</span>
</div>


 <div class="row">
  <div class="label">Vat Rate Stage</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.vatRateStage" value="${entity?.vatRateStage}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.vatRateStage')}</span>
</div>


 <div class="row">
  <div class="label">Currency</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.currency" value="${entity?.currency}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.currency')}</span>
</div>


 <div class="row">
  <div class="label"></div>
  <div class="field">
    
    
    
    
    
    
    
    
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>


