#{extends 'main.html' /}

<h2>Items</h2>

<table class="entity Item">
	<thead>
		<tr>
			<th><!-- actions --></th>
			<th>Code</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Vat Rate Stage</th>
			<th>Currency</th>
			<th>Id</th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
			     #{sedIcons entity /}
			</td>
			<td>${entity.code}</td>
			<td>${entity.name}</td>
			<td>${entity.description}</td>
			<td>${entity.price}</td>
			<td>${entity.vatRateStage}</td>
			<td>${entity.currency.symbol}</td>
			<td>${entity.id}</td>
		</tr>
	#{/list}
	</tbody>
</table>

<a href="@{Items.create}">&{'Create'}</a>
