#{extends 'main.html' /}

<h2>View SoldItem</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			item:
		</span>
		<span class="value">
      ${entity.item}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			invoice:
		</span>
		<span class="value">
      ${entity.invoice}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			vatRate:
		</span>
		<span class="value">
      ${entity.vatRate}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			rebate:
		</span>
		<span class="value">
      ${entity.rebate}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			quantity:
		</span>
		<span class="value">
      ${entity.quantity}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			notes:
		</span>
		<span class="value">
      ${entity.notes}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			createdAt:
		</span>
		<span class="value">
      ${entity.createdAt}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			updatedAt:
		</span>
		<span class="value">
      ${entity.updatedAt}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{SoldItems.index}">Back</a>

