#{extends 'main.html'/}
#{set 'title'}&{'admin.title.administration'}#{/set}
#{set bodyId:"admin" /}		
	
<div id="main">
	#{secure.check 'admin'}
    <ul id="adminMenu">
		<li class="${request.controller == 'Admin' ? 'selected' : ''}">
		   <a href="@{Admin.index()}">&{'admin.navbar.index'}</a>
		</li>
			<li class="${request.controller == 'Users' ? 'selected' : ''}">
			  <a href="@{Users.index}">&{'admin.navbar.users'}</a>
			</li>
	</ul>

	#{doLayout /} 
	#{/secure.check}
	#{secure.check 'user'}
	   <ul id="adminMenu">
	       <li><a href="@{Secure.logout()}">&{'admin.unprivileged.user', session.username}</a></li>
	   </ul>
	#{/secure.check}
</div>        
